CompileFlags:
  Compiler: xtensa-esp32-elf-gcc
  Remove:
    - -mlongcalls
    - -mtext-section-literals
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
    - -fno-shrink-wrap
    - -fno-builtin-memcpy
    - -fno-builtin-memset
    - -fno-builtin-bzero
